body{

  background-color:#F8F9FA;
}
.col-lg-3:hover{
transform: scale(1.1);
}
.card-img-top:hover{
  transform: scale(1.1);
}
.align{
 margin-left: 35%;
}
.main-container{
  margin-top: 6%;
}
.text-color{
  color: #002057;
}
.me-auto{

 float:right;
}
.nav-item{
  padding: 5px 10px 5px 10px ;

}
.text2-color{
  color: blue;
}
.container-color{

  padding: 5%  5%;
}
.nav-link{

  color: black;
  font-weight: bold;
  font-family:  'Bitter', serif;
  font-size: large;
}
.Contact{
  text-align: center; 
  padding: 3%;
   text-decoration: underline;
   text-underline-offset:20px
}

.nav-link:hover{

  color: #e42b69;
 text-decoration: 2px underline ;
 text-underline-offset: 10px;
}
.logo{
  width: 150px;
  height: 60px;
  margin-left: 10%;
}
.profile-2{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  

}
.profile-2:hover {
transform: scale(1.1);
  }

.text-align{
 
 color: white;
 padding: 10px 10px;
 

}
.btn-color{
  background-color: #e42b69;
  margin-top: 5%;
}
.btn-color:hover{
  background-color: #a5214d;
}
.btn-link{

  text-decoration: none;
  color: white;
}
.btn-link:hover{
  color: white;
  
}
.attr-space{
  color: blue; margin-left: 10%; 
}
.email-space{
  color: blue; margin-left: 10%; 
}
.card{ 
margin: 3%;   

}
.card:hover{
  background-color:white;
}
.card-title{
  color: white;
  float: left;
}

.overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color:#ECEDED;
overflow: hidden;
width: 100%;
height: 0;
transition: .5s ease;
}
.overlay-img{
  position: relative;
}

.overlay-img:hover .overlay {
  height: 100%;
}
.primg-wd{
  width: 40%;
}


.center {
position: relative;
padding: 50px 50px;
background: #fff;
border-radius: 10px;
}
.center h2 {
font-size: 2em;
border-left: 5px solid dodgerblue;
padding: 10px;
color: #000;
letter-spacing: 5px;
margin-bottom: 60px;
font-weight: bold;
padding-left: 10px;
}
.center .inputbox {
position: relative;
width: 100%;
height: 50px;
margin-bottom: 20px;
}
.center .inputbox input {
position: absolute;
top: 0;
left: 0;
width: 100%;
border: 2px solid #000;
outline: none;
background: none;
padding: 10px;
border-radius: 10px;
font-size: 1.2em;
}
.center .inputbox:last-child {
margin-bottom: 0;
}
.center .inputbox span {
position: absolute;
top: 14px;
left: 20px;
font-size: 1em;
transition: 0.6s;
font-family: sans-serif;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
transform: translateX(-13px) translateY(-35px);
font-size: 1em;
}
.center .inputbox [type="button"] {
width: 30%;
background: dodgerblue;
color: #fff;
border: #fff;
}
.inputbox:hover [type="button"] {
background: linear-gradient(45deg, greenyellow, dodgerblue);
}
.container-img{
  background-image: url("./assets/images/img-2.png");
  background-repeat: no-repeat;
  background-size: 50% 80%;
  
  

}
.container3 {
position: relative;
width: 300px;
height: 300px;
transition: 200ms;

}



#card3 {
position: absolute;
inset: 0;
width: 100%;
border-radius: 100%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
transition: 700ms;
background-image: url(./assets/images/profile.jpg);
background-size: 100%;
background-repeat: no-repeat;
}

.subtitle2 {
transform: translateY(160px);
color: rgb(134, 110, 221);
text-align: center;
width: 100%;
}



#prompt {
bottom: 8px;
left: 12px;
z-index: 20;
font-size: 20px;
font-weight: bold;
transition: 300ms ease-in-out-out;
position: absolute;
max-width: 110px;
color: rgb(255, 255, 255);
}

.tracker2 {
position: absolute;
z-index: 200;
width: 100%;
height: 100%;
}

.tracker2:hover {
cursor: pointer;
}

.tracker2:hover ~ #card3 #prompt {
opacity: 0;
}

.tracker2:hover ~ #card3 {
transition: 300ms;
filter: brightness(1.1);
}

.container3:hover #card3::before {
transition: 200ms;
content: '';
opacity: 80%;
}

.canvas2 {
perspective: 800px;
inset: 0;
z-index: 200;
position: absolute;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
gap: 0px 0px;
grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
"tr-6 tr-7 tr-8 tr-9 tr-10"
"tr-11 tr-12 tr-13 tr-14 tr-15"
"tr-16 tr-17 tr-18 tr-19 tr-20"
"tr-21 tr-22 tr-23 tr-24 tr-25";
}

#card3::before {
content: '';
filter: blur(2rem);
opacity: 30%;
width: 100%;
height: 100%;
position: absolute;
z-index: -1;
transition: 200ms;
}

.tr-1 {
grid-area: tr-1;
}

.tr-2 {
grid-area: tr-2;
}

.tr-3 {
grid-area: tr-3;
}

.tr-4 {
grid-area: tr-4;
}

.tr-5 {
grid-area: tr-5;
}

.tr-6 {
grid-area: tr-6;
}

.tr-7 {
grid-area: tr-7;
}

.tr-8 {
grid-area: tr-8;
}

.tr-9 {
grid-area: tr-9;
}

.tr-10 {
grid-area: tr-10;
}

.tr-11 {
grid-area: tr-11;
}

.tr-12 {
grid-area: tr-12;
}

.tr-13 {
grid-area: tr-13;
}

.tr-14 {
grid-area: tr-14;
}

.tr-15 {
grid-area: tr-15;
}

.tr-16 {
grid-area: tr-16;
}

.tr-17 {
grid-area: tr-17;
}

.tr-18 {
grid-area: tr-18;
}

.tr-19 {
grid-area: tr-19;
}

.tr-20 {
grid-area: tr-20;
}

.tr-21 {
grid-area: tr-21;
}

.tr-22 {
grid-area: tr-22;
}

.tr-23 {
grid-area: tr-23;
}

.tr-24 {
grid-area: tr-24;
}

.tr-25 {
grid-area: tr-25;
}

.tr-1:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ #card3 {
transition: 125ms ease-in-out;
transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
-webkit-touch-callout: none;
/* iOS Safari */
-webkit-user-select: none;
/* Safari */
/* Konqueror HTML */
-moz-user-select: none;
/* Old versions of Firefox */
-ms-user-select: none;
/* Internet Explorer/Edge */
user-select: none;
/* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */
}  

@media (max-width:571px) {
  .nav-link{

      border-bottom: 1px solid black;
      width: 100%;
    
  }
  .nav-link:hover{
      text-decoration: none ;
       text-underline-offset: 1px;
  }
  .profile-2{
   width: 60%;
   margin-left: 20%;
   padding: 5px;
   margin-bottom: 10px;
  
 
  }
  .container3 {
      position: relative;
      width: 200px;
      height: 200px;
      margin-left: 20%;
     
      
      }
 
  .attr-space{
      margin-left: 25%; 

  }
  .email-space{
      padding-left: 0px;
      

  }
  .btn-color{
      margin-left: 20%;
  }
  .primg-wd{
      width: 100%;
  }
  
  .center .inputbox [type="button"] {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
  }
  .card-title{
      display: none;
  }
  
}
