@media screen and (min-width: 769px) {
.horizontal-menu {
    list-style: none; 
    display: flex; 
    float: right;
}
 
  .horizontal-menu li {
    margin-right: 20px; 
  }

  .horizontal-menu a {
    text-decoration: none; 
    color: white;
  }  
  
  .horizontal-menu a:hover {
    text-decoration: underline;
  }
  
  .horizontal-menu a:active {
    font-weight: bold;
  }

  nav{
    background-color: black;
    border-radius: 20px;
    
  }

  .logo{
    height: 55px;
    width: 200px;
    border-radius: 30px;
    margin-top: 0.2%;
  }
}

 /* Mobile styles */
@media screen and (max-width: 768px) {
    .horizontal-menu {
      display: none; /* Hide the horizontal menu on smaller screens */
    }
  
    .logo {
      width: 100px; /* Adjust logo width as needed for mobile view */
    }
  
    nav {
      background-color: black; /* Background color for the navigation bar */
      border-radius: 5px; /* Rounded corners for the navigation bar */
    }
  
    ul.horizontal-menu {
      display: block; /* Display the mobile menu items as a list */
    }
  
    ul.horizontal-menu li {
      padding-left: 250px;
      margin-bottom: 10px; /* Add spacing between menu items vertically */  
    }
  
    ul.horizontal-menu a {
      color: white; /* Set the text color for mobile view */
    }
  }
  