@media screen and (min-width: 769px) {
.horizontal-menu {
    list-style: none; 
    display: flex; 
    float: right;
}
 
  .horizontal-menu li {
    margin-right: 20px; 
  }

  .horizontal-menu a {
    text-decoration: none; 
    color: white;
  }  
  
  .horizontal-menu a:hover {
    text-decoration: underline;
  }
  
  .horizontal-menu a:active {
    font-weight: bold;
  }

  nav{
    background-color: black;
    border-radius: 20px;
    
  }

  .logo{
    height: 55px;
    width: 200px;
    border-radius: 30px;
    margin-top: 0.2%;
  }
}

 /* Adjusted CSS for screens up to 768px (including mobile) */
@media screen and (max-width: 768px) {
  .horizontal-menu {
    list-style: none; 
    display: flex; 
    justify-content: center; /* Center items */
    flex-wrap: wrap; /* Wrap items on smaller screens */
  }

  .horizontal-menu li {
    margin-right: 10px; /* Reduced margin for smaller screens */
    margin-bottom: 10px; /* Add margin bottom for spacing */
  }

  .horizontal-menu a {
    text-decoration: none; 
    color: white;
  }  
  
  .horizontal-menu a:hover {
    text-decoration: underline;
  }
  
  .horizontal-menu a:active {
    font-weight: bold;
  }

  nav {
    background-color: black;
    border-radius: 20px;
    padding: 10px; /* Adjust padding for smaller nav */
  }

  .logo {
    height: 55px;
    width: 150px; /* Adjust logo size for smaller screens */
    border-radius: 20px; /* Adjust border-radius */
    margin: 10px auto; /* Center logo */
  }
}

  